
/* Top part of homepage */
.featured-content p {
    font-size: 2vw;
}
.featured-content {
    background-image: url(Images/duhast.gif);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    max-width: 100%;
    color: white;
    font-size: 16px;
}

.content p {
    text-align: left;
    background-color: rgba(0, 0, 0,0.4);
    padding: 5px;
    font-size: 30px;
}

.content {
    position: relative;
    left: 0;
    padding: 20px;
    width: 30%;

}

.content a {
    color: orangered;
}

.content {
    position: absolute;
    bottom: 10%;
}



/* About band part*/
.about-container {
    margin-top: 10px;
    color: white;
    font-size: 16px;
    background: rgb(36,0,0);
    background: radial-gradient(circle, rgba(36,0,0,1) 0%, rgba(121,9,9,1) 79%, rgba(209,5,5,1) 100%);
    box-shadow: 0 0 8px 2px black inset;
    display: flex;
    text-align: left;

}
.right {
    width: 40%;
    margin: auto;
    padding: 20px;
}
.right img {
    width: 100%;
}

.left {
    width: 70%;
    padding: 10px;
}

.left a {
    color: gold;
    display: inline-block;
    text-decoration: none;
}



/* Albums */
.albums {
    max-width: 100%;
    display: flex;
    column-gap: 10px;
    justify-content: space-evenly;
}

.alb p {
    width: 150px;
}

.alb img {
    max-width: 100%;
    height: auto;
}

.alb img:hover {
    box-shadow: 0 10px 50px red;
    transition: ease-in-out;
}


/* Merch styling */
.Merch {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 10px;
    margin-bottom: 25px;
}

.Merch img {
    width: 100%;
}

.Merch a {
    width: 300px;
}
.Merch a,.head-store-item a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    max-width: 100%;

}


.Merch a:hover, .head-store-item a:hover {
    color: orangered;
    transition: ease-in-out;
    
}


.price {
    position: relative;
    top: 15px;
    background-color: white;
    padding: 3px;
    border-radius: 3px;
    color: black;
    font-weight: 600;
}

#shopbtn {
    bottom: 0;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    color: black;            
    border: solid 1px;
    background-color: white;
    border-radius: 5px;
    margin: 25px;
    float: right;
}



.head-store-item {
    display: flex;
    justify-content: center;
    background: rgb(121,9,9);
    background: radial-gradient(circle, rgba(121,9,9,1) 18%, rgba(0,0,0,1) 100%, rgba(139,24,24,1) 100%);
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 0 8px 2px black inset;
}


/* Gallery styling */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: 30%;
    height: auto;
    border-radius: 2px;
    margin: 10px;
    border: solid 2px orangered;
}


/* Latest music video styling */
.song img {
    max-width: 100%;
    transition: all .2s ease-in-out;
}

.song div {
    overflow: hidden;
    width: 500px;
    height: 350px;
}

.song img:hover {
    transform: scale(1.03);
}






/* For tablet */
@media screen and (max-width: 820px) {

    .featured-content {
        width: 100%;
        height: 300px;

    }

    .content p {
        font-size: 15px;
    }

    .content  {
        width: 50%;
    }
    .left {
        width: 100%;
    }

    .right {
        width: 70%;
    }

    .albums {
        flex-wrap: wrap ;
        flex-direction: row;
    }

    .about-container {
        flex-wrap: wrap;
    }
    


    .Merch {
    display: flex;
    font-size: 20px;
    flex-wrap: wrap;
    
    }

    .Merch p {
        width: 55%;
    }
    .Merch a {
        font-size: 25px;
    }

    .Merch img {
        width: 236px;
        height: 253px;
    }
    .Merch a {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex-basis: 100%;
        padding: 10px;
        column-gap: 10px;
    }

    .head-store-item img {
        max-width: 100%;
    }
    
}


/* For phone */
@media screen and (max-width: 600px) {
    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .gallery img {
        width: 100%;
        height: auto;
        border: solid 2px orangered;
        border-radius: 2px;
        margin: 10px;
    }

    .gallery {
        justify-content: center;
    }


    .Merch {
        display: flex;
    
    }
    
    .Merch img {
        width: 100px;
        height: 100px;
    }
    .Merch a {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex-basis: 100%;
        padding: 10px;
        column-gap: 10px;
    }

    .head-store-item img {
        max-width: 100%;
    }

    .song img{
        width: 100%;
        height: auto;
    }

    .song div {
        max-width: 100%;
        height: auto;
    }

    .head-store-item a {
        max-width: 70%;

    }

    .Merch p {
        width: 65%;
    }

    .Merch a {
        font-size: 18px;
    }

}


@media screen and (max-width: 300px) {
    .Merch p {
        width: 55%;
        font-size: 13px;
    }
    
}