.main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: rgb(121,9,9);
    background: radial-gradient(circle, rgba(121,9,9,1) 18%, rgba(0,0,0,1) 100%, rgba(139,24,24,1) 100%);
    border-radius: 50px;
    box-shadow: 0 0 8px 2px black inset;
    padding: 15px;
}

.Member-container {
    display: flex;

}


.left {
    width: 30%;
    height: fit-content;
}

.left img {
    max-width: 80%;
    height: 100%;
}

.Member-content {
    width: 70%;
    padding: 5px;
}

.Member-content a {
    color: gold;
}

.fa-brands {
    font-size: 25px;
}


.arrow {
    color: white;
    font-size: 25px;
}

.arrow:hover {
    color: orangered;
    font-size: 25px;
}

@media screen and (max-width: 600px) {
    .Member-container {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .Member-content {
        width: 100%;
    }
    .left img {
        max-width: 250%;
        height: 200px;
    }


}